@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900;1000&family=Poppins:wght@300;500;700;900&family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --light-blue: #e9f1fa;
  --dark-blue: #00abe4;
  --darker-blue: #0077ff;
  --white: #FFF8F3;
  --text: linear-gradient( to right, #50D9DB, #007299 );
  --bold-text-color: #FCF8F3;
  --light-text-color: #FFF8F3;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: #172048;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: linear-gradient( to right, #50D9DB, #007299 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-heading {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

p {
  color: #C4C4C4;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  margin: 2rem auto;
}

.btn {
  color: var(--white);
  background: linear-gradient(97.65deg, #56E0E0 0.33%, #007299 93.35%);
  box-shadow: 0px 10px 15px 0px #01739933;
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
}

.btn:hover {
  background-color: var(--darker-blue);
}

.disabled {
  cursor: auto;
}

.disabled:hover {
  background-color: var(--dark-blue);
}

.layout-container {
  display: flex;
  gap: 1rem;
}

.loader {
  width: 80vw;
  height: 90vh;
  display: flex !important;
  margin: auto;
}

.nothing {
  font-size: 3rem;
  color: rgba(30, 55, 90, 0.3);
  height: 100%;
}

@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 896px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 596px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 60%;
  }
}
